<!-- <adf-login
  copyrightText="© 2017 Alfresco Software, Inc. All Rights Reserved."
  successRoute="/documentlist">
</adf-login> -->
<!-- <h2>Login</h2>
<div class="container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group ">
    <label>User Name</label>
    <input type="text" class="form-control" formControlName="uname">
    <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-format]="format" [bc-line-color]="lineColor"
    [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
    [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
    [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
  </div>
  <div class="form-group ">
    <label>Password</label>
    <input type="text" class="form-control" formControlName="password">
    <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

  </div>
  <div class="form-group ">
    <label>OTP</label>
    <input type="text" class="form-control" formControlName="otp">
  </div>
 
  <button type="submit" class="btn btn-primary">SIGN IN</button>
</form></div> -->
<div class="wrapper fadeInDown">
  <div id="formContent">
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="formControl">
        <input type="text" id="login" class="fadeIn second" formControlName="uname" placeholder="Username">
      </div>

      <div class="formControl">
        <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="Password">
      </div>
      <div class="formControl">
        <input type="text" id="password" class="fadeIn third" formControlName="otp" placeholder="otp">
      </div>

      <input type="submit" class="fadeIn fourth" value="SIGN IN" >
    </form>

  </div>
</div>